#ilk {
  color: red;
}
.muhendis {
  font-size: 44px !important;
}
.sari-sac {
  color: yellow;
}
.yesil-sac {
  color: green;
}
.back-blue {
  background-color: blue;
}
div.sari-sac {
  font-size: 100px;
}
div#son {
  background-color: red;
}
div.muhendis {
  color: pink;
  font-size: 15px;
}

p.muhendis {
  font-size: 10px;
  color: blue;
}
.muhendis {
  font-size: 2000px;
}
